

  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Encode+Sans+Condensed&family=Gluten:wght@300;400;500&family=Handjet:wght@100;500&family=Heebo&family=Josefin+Slab:wght@200&family=Pacifico&family=Playfair+Display:wght@600&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Shadows+Into+Light&display=swap');
*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 244, 244);
    align-items: center;
     

}
.background{
    background-image: url(./images/background2.jpg);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;

}
nav{
    display: flex;
    width: 92%;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
    
    justify-content: space-between;
    background: transparent;
}
nav ul li{
    display: inline-block;
    margin: 20px 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}
nav ul li a:hover{
    color:rgb(247, 95, 7);
}
nav .logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 1%;
}


.content image {
    width: 45%;
    height: 60%;
    position: absolute;
    left: 100px;
    bottom: 0;
    
}
.image img{
    margin-left: 20%;
    width: 50%;
    height: 70%;
    border: 8px solid;
    border-color: white;
    border-radius: 0 100px 0 100px;
}
.content {
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 90px;
}
#items{
    padding: 100px;
    padding-left: 10%;
    padding-right: 10%;

}
.item{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding-top: 10%;

}
.itemimg img{
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.item h1{
    color: rgb(5, 5, 5);
    text-align: center;
}
.item p{
    padding-top: 10%;
    color: rgb(14, 13, 13);
    line-height: 30px;
    
    text-align: justify;
}
.head {
    margin-left: 8%;
   margin-top: 10%;
margin-right: 10%;
   
}
.head h1{
    font-weight: bold;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.head h1 span {
    color: rgb(238, 132, 62);
    font: bold;
    font-size: 50px;
    font-family: 'Playfair Display', serif;

}
.head p{
    padding-left: 2%;
    color: white;
    line-height: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: justify;

}
.head a{
background-color: rgba(255, 106, 6, 0.726);
   padding: 10px 18px;
   text-decoration: none;
   color: rgb(252, 251, 251);
   font-weight: bold;
   border-radius: 30px;
   display: inline-block;
   margin: 30px 0;
   font-family: 'Barlow', sans-serif;

}
.contacttext{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-top: 0;
   justify-content: space-between;

}
.phone{
    margin-left: 5%;
    margin-top: 50px;
 margin-right: 10%; 
}
.phone h2{
    color: rgb(7, 7, 7);
    font-family: 'Barlow', sans-serif;

}
.icons{
    margin-left: 50%;
    justify-content: space-between;
    padding-top: 50px;
}
.icons ul li{
    
    
    display: inline-block;
    margin: 5% 5%;
    

}
@media(max-width:571px){
     /* .image img{
        width: 100px;
        height: 150px;

     } */
     .head h1 span{
        font-size: small;
     }
     .head p{
        font-size: small;
        padding-right: 10%;
     }
     nav ul li a{
        font-size: smaller;



    }
    .phone h2{
        font-size: small;
    }
    .icons ul li{
    
        display: inline-block;
    }
    .icons{
        margin-left: 30%;
    
    }
    nav .logo{
        width: 50px;
        height: 50px;
        margin-left: 0;
        padding-left: 0;
    }
    
}
@media(max-width:800px){
    .itemimg img{
        width: 200px;
        height: 200px;

    }
    items{
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media(max-width:500px){
    
    .image img{
        
        justify-content: center;

    }
    .content {
        display:block
       
    }
    .nav ul li a{
        font-size: x-small;
    }
    .item p{
        padding-left: 0;
    }
    .image img{
        height: 50%;
        width: 50%;
        align-items: center;
    }
    .itemimg img{
        
        width: 100px;
        height: 100px;

        margin-left: 45%;
        

    }
    .item{
        display: block;
        margin-left: 0;
          
       padding-top: 10%;
       
    
    }
    
    #items{
        padding-left: 0;
        padding-right: 50px;
        
    }
    



}

@media(max-width:500px){
    .content {
        display:block
       
    }
    .item{
        padding-top: 100px;
    }
    .text{
        padding-left: 20%;
    }

}

